
.quiz-list-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.quiz-list-max-width {
  width: 2000px;
  height: 90px;
  max-width: 100%;
  box-shadow: 0px 10px 10px 0px #d4d4d4;
  background-size: cover;
  background-image: url("/static/img/themecolour.jpg");
}
.quiz-list-image {
  height: 61px;
}
.quiz-list-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.quiz-list-primary-btn {
  text-decoration: none;
  background-color: #30d8fa;
}
.quiz-list-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 645px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.quiz-list-text {
  top: 43px;
  left: 336px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-family: Comic Sans MS;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.quiz-list-text01 {
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.quiz-list-text02 {
  top: 42px;
  left: 846px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.quiz-list-container2 {
  top: 0px;
  left: 0px;
  width: 182px;
  height: 645px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.quiz-list-sidebar {
  top: 0px;
  left: 0px;
  width: 185px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 849px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  max-height: 100%;
  padding-top: 32px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d9d9d9;
}
.quiz-list-nav {
  top: 47px;
  left: 1px;
  width: 171px;
  height: 365px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.quiz-list-navlink {
  display: contents;
}
.quiz-list-image1 {
  width: 56px;
  height: 65px;
  align-self: center;
  margin-top: 5px;
  object-fit: cover;
  margin-left: 0px;
  text-decoration: none;
}
.quiz-list-navlink1 {
  top: 74px;
  left: 57px;
  position: absolute;
  align-self: center;
  margin-top: 5px;
  text-decoration: none;
}
.quiz-list-text04 {
  top: 200px;
  left: 337px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text05 {
  top: 255px;
  left: 337px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text06 {
  top: 310px;
  left: 337px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text07 {
  top: 365px;
  left: 337px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text08 {
  top: 200px;
  left: 849px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text09 {
  top: 310px;
  left: 849px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text10 {
  top: 365px;
  left: 849px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
.quiz-list-text11 {
  top: 255px;
  left: 849px;
  position: absolute;
  font-size: 19px;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .quiz-list-image {
    width: var(--dl-size-size-large);
    height: auto;
    max-width: auto;
    margin-left: 10px;
  }
  .quiz-list-primary-btn {
    background-color: #52d4e6;
  }
}
@media (max-width: 767px) {
  .quiz-list-primary-btn {
    display: none;
  }
  .quiz-list-sidebar {
    height: 70vh;
  }
}
