
.quiz-history-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f7f4f2;
}
.quiz-history-max-width {
  width: 2000px;
  height: 90px;
  max-width: 100%;
  box-shadow: 0px 10px 10px 0px #d4d4d4;
  background-size: cover;
  background-image: url("/static/img/themecolour.jpg");
}
.quiz-history-image {
  height: 61px;
}
.quiz-history-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.quiz-history-primary-btn {
  text-decoration: none;
  background-color: #30d8fa;
}
.quiz-history-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 645px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.quiz-history-container2 {
  top: 0px;
  left: 0px;
  width: 182px;
  height: 645px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.quiz-history-sidebar {
  top: 0px;
  left: 0px;
  width: 182px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 645px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  max-height: 100%;
  padding-top: 32px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d9d9d9;
}
.quiz-history-nav {
  top: 47px;
  left: 1px;
  width: 171px;
  height: 365px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.quiz-history-image1 {
  width: 56px;
  height: 65px;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
}
.quiz-history-text {
  align-self: center;
  margin-top: 3px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.quiz-history-text01 {
  top: 43px;
  left: 336px;
  position: absolute;
  font-size: 32px;
  font-style: normal;
  font-family: Comic Sans MS;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}

.quiz-history-text02 {
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}


.quiz-history-text03 {
  top: 300px;
  left: 343px;
  position: absolute;
  font-size: 32px;
  font-style: normal;
  font-family: Comic Sans MS;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.quiz-history-text04 {
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.quiz-history-text05 {
  top: 186px;
  left: 338px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.quiz-history-primary-btn1 {
  top: 410px;
  left: 853px;
  width: 187px;
  height: 41px;
  display: flex;
  position: absolute;
  font-size: 12px;
  text-align: center;
  padding-right: 5px;
  flex-direction: row;
  background-color: #30d8fa;
}
.quiz-history-text06 {
  top: 10px;
  left: 36px;
  margin: auto;
  position: absolute;
  font-size: 15px;
  text-align: center;
}
.quiz-history-container3 {
  top: 41px;
  left: 82px;
  width: 374px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-grays-dark100);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #d9d9d9;
}
.quiz-history-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: 10px;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: center;
}
.quiz-history-button {
  width: 80px;
  height: 45px;
  font-size: 17px;
  align-self: flex-start;
  margin-top: 10px;
  text-align: center;
  margin-left: 15px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 10px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.quiz-history-button1 {
  width: 80px;
  height: 45px;
  margin-top: 10px;
  text-align: center;
  margin-left: 2px;
  margin-bottom: 10px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.quiz-history-button2 {
  width: 80px;
  height: 45px;
  margin-top: 10px;
  text-align: center;
  margin-left: 2px;
  margin-bottom: 10px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.quiz-history-button3 {
  width: 80px;
  height: 45px;
  margin-top: 10px;
  text-align: center;
  margin-left: 2px;
  margin-bottom: 10px;
}
.quiz-history-text08 {
  top: 115px;
  left: 395px;
  position: absolute;
}
.quiz-history-text09 {
  top: 248px;
  left: 400px;
  position: absolute;
}
.quiz-history-text10 {
  top: 381px;
  left: 404px;
  position: absolute;
}
.quiz-history-container5 {
  top: 130px;
  left: 870px;
  width: 373px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #d9d9d9;
}

.quiz-history-text22 {
  top: 29px;
  left: 1092px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-family: Arial Black;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.quiz-history-text33 {
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  text-transform: none;
  text-decoration: none underline;
}



@media (max-width: 991px) {
  .quiz-history-image {
    width: var(--dl-size-size-large);
    height: auto;
    max-width: auto;
    margin-left: 10px;
  }
  .quiz-history-primary-btn {
    background-color: #52d4e6;
  }
  .quiz-history-primary-btn1 {
    background-color: #52d4e6;
  }
}
@media (max-width: 767px) {
  .quiz-history-primary-btn {
    display: none;
  }
  .quiz-history-sidebar {
    height: 70vh;
  }
  .quiz-history-primary-btn1 {
    display: none;
  }
}
