.teacher-classes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f7f4f2;
}
.teacher-classes-max-width {
  width: 2000px;
  height: 90px;
  max-width: 100%;
  box-shadow: 0px 10px 10px 0px #d4d4d4;
  background-size: cover;
  background-image: url("/static/img/themecolour.jpg");
}
.teacher-classes-image {
  height: 61px;
}
.teacher-classes-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.teacher-classes-primary-btn {
  text-decoration: none;
  background-color: #30d8fa;
}
.teacher-classes-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teacher-classes-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 645px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.teacher-classes-sidebar {
  top: 0px;
  left: 0px;
  width: 182px;
  height: 645px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  max-height: 100%;
  padding-top: 32px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d9d9d9;
}
.teacher-classes-nav {
  width: 171px;
  height: 365px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 10px;
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.teacher-classes-image1 {
  top: 16px;
  left: 58px;
  width: 45px;
  height: 45px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.teacher-classes-text {
  top: 64px;
  left: 52px;
  position: absolute;
  align-self: center;
}
.teacher-classes-navlink {
  display: contents;
}
.teacher-classes-image2 {
  top: 147px;
  left: 60px;
  width: 43px;
  height: 48px;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.teacher-classes-navlink1 {
  top: 200px;
  left: 29px;
  position: absolute;
  align-self: center;
  text-decoration: none;
}
.teacher-classes-image3 {
  top: 144px;
  left: 347px;
  width: 60px;
  height: 60px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.teacher-classes-image4 {
  top: 143px;
  left: 551px;
  width: 60px;
  height: 60px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.teacher-classes-image5 {
  top: 142px;
  left: 755px;
  width: 60px;
  height: 60px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.teacher-classes-text1 {
  top: 212px;
  left: 333px;
  position: absolute;
  font-size: 22px;
  align-self: center;
  text-decoration: underline;
}
.teacher-classes-text2 {
  top: 211px;
  left: 537px;
  position: absolute;
  font-size: 22px;
  align-self: center;
  text-decoration: underline;
}
.teacher-classes-text3 {
  top: 210px;
  left: 741px;
  position: absolute;
  font-size: 22px;
  align-self: center;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .teacher-classes-image {
    width: var(--dl-size-size-large);
    height: auto;
    max-width: auto;
    margin-left: 10px;
  }
  .teacher-classes-primary-btn {
    background-color: #52d4e6;
  }
}
@media (max-width: 767px) {
  .teacher-classes-primary-btn {
    display: none;
  }
  .teacher-classes-sidebar {
    height: 70vh;
  }
}
