<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>teacher_AddNewQuize - prototype</title>
    <meta property="og:title" content="teacher_AddNewQuize - prototype" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <!--Bootstrap core CSS -->
    <link href = "{% static 'bootstrap/css/bootstrap.min.css'%}" rel = "stylesheet">
    <style>
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        padding: 0;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
    </style>
    <style>
      html {
        font-family: Lexend;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.1;
        color: var(--dl-color-grays-dark100);
        background-color: var(--dl-color-grays-white100);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <style>
      ::placeholder {
        color: #63667066;
      }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <div>
      <link rel="stylesheet" href="{% static 'css/AddNewQuize.css'%}" />

      <div class="teacher_add-new-quize-container">
        <header
          data-role="Header"
          class="teacher_add-new-quize-max-width navigation-container"
        >
          <img
            alt="logo"
            src="/static/img/logo.png"
            class="teacher_add-new-quize-image"
          />
          <div data-type="BurgerMenu" class="navigation-burger-menu">
            <svg viewBox="0 0 1024 1024" class="teacher_add-new-quize-icon">
              <path
                d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
              ></path>
            </svg>
          </div>
          <a
            href="/login_signup.html"
            class="teacher_add-new-quize-primary-btn button-primary button"
          >
            Profile
          </a>
        </header>
        <div class="teacher_add-new-quize-container01">
          <div class="teacher_add-new-quize-sidebar">
            <nav class="teacher_add-new-quize-nav">
              <img
                alt="image"
                src="/static/img/classes%20icon-200h.png"
                class="teacher_add-new-quize-image1"
              />
              <span class="teacher_add-new-quize-text">Classes</span>
              <img
                alt="image"
                src="/static/img/quiz%20icon-200h.png"
                class="teacher_add-new-quize-image2"
              />
              <span class="teacher_add-new-quize-text1">Quiz</span>
            </nav>
          </div>

          <form method="POST" name="form1">
            {% csrf_token %}
          <span class="teacher_add-new-quize-text2">
            <span class="teacher_add-new-quize-text3">Question 1</span>
          </span>
          <span class="teacher_add-new-quize-text4">Answer</span>
          <input type="text" class="teacher_add-new-quize-textinput input" name="answer"/>
          <button
            class="teacher_add-new-quize-primary-btn1 button-primary button"
            type="button"
            onclick="autoGenerate()"
          >
            Auto Generate
          </button>
          <button
            class="teacher_add-new-quize-primary-btn2 button-primary button"
            type="button"
            onclick="confirm()"
          >
            <span class="teacher_add-new-quize-text5">
              <span>Confirm</span>
              <span class="teacher_add-new-quize-text7"></span>
            </span>
          </button>
              <input
              type="text"
              placeholder="Input question here"
              class="teacher_add-new-quize-textinput1 input"
              name="question"
              />
          </form>

          <div class="teacher_add-new-quize-container02">
            <div class="teacher_add-new-quize-container03">
              <button class="teacher_add-new-quize-button button">7</button>
              <button class="teacher_add-new-quize-button01 button">8</button>
              <button class="teacher_add-new-quize-button02 button">9</button>
              <button class="teacher_add-new-quize-button03 button">×</button>
              <button class="teacher_add-new-quize-button04 button">÷</button>
            </div>
            <div class="teacher_add-new-quize-container04">
              <button class="teacher_add-new-quize-button05 button">4</button>
              <button class="teacher_add-new-quize-button06 button">5</button>
              <button class="teacher_add-new-quize-button07 button">6</button>
              <button class="teacher_add-new-quize-button08 button">＋</button>
              <button class="teacher_add-new-quize-button09 button">－</button>
            </div>
            <div class="teacher_add-new-quize-container05">
              <button class="teacher_add-new-quize-button10 button">1</button>
              <button class="teacher_add-new-quize-button11 button">2</button>
              <button class="teacher_add-new-quize-button12 button">3</button>
              <button class="teacher_add-new-quize-button13 button">=</button>
              <button class="teacher_add-new-quize-button14 button">DEL</button>
            </div>
            <div class="teacher_add-new-quize-container06">
              <button class="teacher_add-new-quize-button15 button">0</button>
              <button class="teacher_add-new-quize-button16 button">.</button>
              <button class="teacher_add-new-quize-button17 button">(</button>
              <button class="teacher_add-new-quize-button18 button">)</button>
              <button class="teacher_add-new-quize-button19 button">↵</button>
            </div>
            <div class="teacher_add-new-quize-container07">
              <button class="teacher_add-new-quize-button20 button">z</button>
              <button class="teacher_add-new-quize-button21 button">x</button>
              <button class="teacher_add-new-quize-button22 button">y</button>
              <button class="teacher_add-new-quize-button23 button">π</button>
            </div>
            <div class="teacher_add-new-quize-container08">
              <button class="teacher_add-new-quize-button24 button">^2</button>
              <button class="teacher_add-new-quize-button25 button">^</button>
              <button class="teacher_add-new-quize-button26 button">√</button>
              <button class="teacher_add-new-quize-button27 button">e</button>
            </div>
            <div class="teacher_add-new-quize-container09">
              <button class="teacher_add-new-quize-button28 button">＜</button>
              <button class="teacher_add-new-quize-button29 button">＞</button>
              <button class="teacher_add-new-quize-button30 button">≤</button>
              <button class="teacher_add-new-quize-button31 button">≥</button>
            </div>
            <div class="teacher_add-new-quize-container10">
              <button class="teacher_add-new-quize-button32 button">|□|</button>
              <button class="teacher_add-new-quize-button33 button">i</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((carrousel) => {
            initializeSlider(carrousel);
          });
        };

        const initializeSlider = (carrousel) => {
          let currentSlide = 0;

          const slides = carrousel.querySelectorAll('[data-type="slide"]');
          const nextSlideBtns = carrousel.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = carrousel.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length - 1
                  ? (currentSlide = 0)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 0
                  ? (currentSlide = slides.length - 1)
                  : currentSlide--;
            }

            carrousel.style.transform = `translateX(${-100 * currentSlide}%)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
    <!-- import dependence of bootstrap-->
    <script src = "{% static 'popper/popper.js' %}"></script>
    <!-- import bootstrap core JS -->
    <script src = "{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- functions for submitting -->
    <script type="text/javascript">
      function autoGenerate()
      {
        document.form1.action="/addNewQuiz/?auto_generate";
        document.form1.submit();
      }

      function confirm()
      {
        document.form1.action="/addNewQuiz/?confirm";
        document.form1.submit();
      }

    </script>
  </body>
</html>
