<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz List</title>
</head>
<body>
    <h1>Quiz 1</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>题目</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in quizzes.items %}
                <tr>
                    <td><a href="/quiz/?nid={{ key }}">{{ key }}</a></td>
                    <td>{{ value }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>