<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Quiz</title>
</head>
<body>
    <h1>Student</h1>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>title</td>
                <td>Status</td>
                <td>Review</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="/quiz/">complex addition</a></td>
                <td>not attempt</td>
                <td>Review</td>
            </tr>
        </tbody>
    </table>

</body>
</html>